.navbar {
    background-color: white;
    padding: 10px 0px;
    
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    color: black;
  }